<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="treeview menu-close">
                <a href="{{:url('index/index')}}">
                    <i class="fa fa-home" aria-hidden="true"></i>
                    <span>控制面板</span>
                </a>
            </li>
            <li class="treeview menu-close" id="m-1">
                <a href="#">
                    <i class="fa fa-circle-o"></i> <span>Banner管理</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li id="m-1-1"><a href="{{:url('banner/index')}}"><i class="fa fa-circle-o"></i>Banner列表</a></li>
                </ul>
            </li>
            <li class="treeview menu-close" id="m-2">
                <a href="#">
                    <i class="fa fa-circle-o"></i> <span>Theme管理</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li id="m-2-1"><a href="{{:url('theme/index')}}"><i class="fa fa-circle-o"></i>Theme列表</a></li>
                </ul>
            </li>
            <li class="treeview menu-close" id="m-3">
                <a href="#">
                    <i class="fa fa-circle-o"></i> <span>商品分类管理</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li id="m-3-1"><a href="{{:url('category/index')}}"><i class="fa fa-circle-o"></i>商品分类列表</a></li>
                    <li id="m-3-2"><a href="{{:url('spec/index')}}"><i class="fa fa-circle-o"></i>规格列表</a></li>
                </ul>
            </li>
            <li class="treeview menu-close" id="m-4">
                <a href="#">
                    <i class="fa fa-circle-o"></i> <span>商品管理</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li id="m-4-1"><a href="{{:url('product/index')}}"><i class="fa fa-circle-o"></i>商品列表</a></li>
                    <li id="m-4-2"><a href="{{:url('product_image/index')}}"><i class="fa fa-circle-o"></i>商品图片</a></li>
                </ul>
            </li>
            <li class="treeview menu-close" id="m-5">
                <a href="#">
                    <i class="fa fa-circle-o"></i> <span>用户管理</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li id="m-5-1"><a href="{{:url('user/index')}}"><i class="fa fa-circle-o"></i>用户列表</a></li>
                    <li id="m-5-2"><a href="{{:url('user_address/index')}}"><i class="fa fa-circle-o"></i>用户地址</a></li>
                </ul>
            </li>
            <li class="treeview menu-close" id="m-6">
                <a href="#">
                    <i class="fa fa-circle-o"></i> <span>订单管理</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li id="m-6-1"><a href="{{:url('order/index')}}"><i class="fa fa-circle-o"></i>订单列表</a></li>
                </ul>
            </li>
            <li class="treeview menu-close" id="m-7">
                <a href="#">
                    <i class="fa fa-circle-o"></i> <span>系统设置</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li id="m-7-1"><a href="{{:url('admin/index')}}"><i class="fa fa-circle-o"></i>管理员列表</a></li>
                    <li id="m-7-2"><a href="{{:url('role/index')}}"><i class="fa fa-circle-o"></i>角色列表</a></li>
                    <li id="m-7-3"><a href="{{:url('permissioin/index')}}"><i class="fa fa-circle-o"></i>权限列表</a></li>
                </ul>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>