{{extend name="layouts/main" /}}

{{block name="title"}}<title>广告列表 | 微信小程序后台管理系统</title>{{/block}}

{{block name="css"}}
<style>

</style>
{{/block}}
{{block name="content"}}
<section class="content-header">
    <h1>管理系统</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>商品分类</a></li>
        <li class="active">添加商品分类</li>
    </ol>
</section>
<section class="content" id="showcontent">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">添加商品分类</h3>
                </div>
                <form role="form" action="{{:url('category/create')}}" method="post">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="input_title">分类名</label>
                            <input type="text" name="category_name" class="form-control" id="input_title" placeholder="请输入类名！">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input_tag_id">父级分类</label>
                        <select class="form-control" id="input_tag_id" name="parent_id">
                            <option value="1">服装</option>
                            <option value="2">家电</option>
                            <option value="3">文化书刊</option>
                            <option value="4">食品</option>
                            <option value="5">汽车用品</option>
                        </select>
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">添加</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{{/block}}
