{{extend name="layouts/main" /}}

{{block name="title"}}<title>后台首页 | 微信小程序后台管理系统</title>{{/block}}

{{block name="css"}}
<style>

</style>
{{/block}}
{{block name="content"}}
<section class="content-header">
    <h1>管理系统</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>管理系统</a></li>
        <li class="active">控制面板</li>
    </ol>
</section>
<section class="content" id="showcontent">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">控制台</h3>
                </div>

            </div>
        </div>
    </div>
</section>
{{/block}}
{{block name="js"}}
<script>

</script>
{{/block}}
